<body>
     <div>
        <link rel="stylesheet" href="/styling/index.css"/>
    </div>
    
    <div>
        <h1>{{team_name}}</h1>
        <br>
        <h1>Product Owner: {{product_owner}}</h1>
    </div>

    <div class = 'center' id="teamsTable">
        
        <table>
            <thead>
                <tr>
                    <th>Team Members</th>
                </tr>
            </thead>

            {{#each member_names}}
                <tr>
                    <td>{{this}}</td>
                </tr>
            {{/each}}
        </table>
    </div>
    <hr>

    <h1>Sprints</h1>   
    
    {{#each sprints}}
        <div class = 'center'>
            <table>
                <caption>Sprint {{sprintnum}}</caption>
                <thead>
                    <tr>
                        <th>Members</th>
                        <th>Star Votes</th>
                        <th>Scrum Sprint Star</th>
                        <th>Story Points</th>
                    </tr>
                </thead>
                <script>
                    
                </script>
                {{#each stars}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{stars}}</td>
                        <td>
                        <input type="checkbox" id="mvp_vote">
                        </td>
                        <td><input type="text" value={{points}}></td>
                    
                    </tr>
                {{/each}}
            </table>
        </div>
        <h2>Scrum Star: "NAME"</h2>
        <hr>
    {{/each}}

    <form action="/new_sprint" method="post">
    <div class = 'center'>
        <input type="hidden" id="members" name="teamName" value="{{team_name}}"></p>

        <button type="submit" name="submit" class = 'center'>New Sprint</button>
    </div>
    </form>

</body>